/* hover */ 

// Desktop
// --------------------------------------------------
@include media-breakpoint-pc {
	.u-hoverOpacity {
		transition: 0.3s all;
		opacity: 1;
		&:hover{
			opacity: 0.7;
		}
	}
}