// Colors
// -------------------------
$font-color:              #000 !default;

// background Colors
// -------------------------
$header-bg:               #fff !default;

// color
$black: #000 !default;
$white: #fff !default;
$blue: #003C78 !default;
$red: #C82310 !default;
// Border Colors
// -------------------------
$border-color:                  #333 !default;


// Content Width
// -------------------------
$content-width--small:           840px !default;
$content-width--narrow:         1140px !default;
$content-width:                 1200px !default;
$content-width--wide:           1790px !default;



// Inner Padding
// -------------------------
$pd-x-pc:                       20px !default;
$pd-x-tab:                      20px !default;
$pd-x-sp:                       16px !default;


// display flex;
$flex: flex;
