.u-bg{
    background: $blue;
    color: #fff;
}
.u-red{
    color: $red;
}
.u-bbottom{
    border-bottom: 1px solid #fff;
}
.u-right{
    border-right: 1px solid #fff;
}

.u-bbottom1{
    border-bottom: 1px solid $blue;
}
.u-right1{
    border-right: 1px solid $blue;
}