.l-table {
    width: 100%;
    @for $var from 1 to 12 {
        &__col.--col#{$var} {
            width: calc( 100% / (12 / #{$var}));
        }  
    }
    &__th {
        padding: 0.75em;
        vertical-align: top; 
        &.--center {
            text-align: center;
        }
    }
    &__td {
        padding: 0.75em;
        vertical-align: top; 
        &.--center {
            text-align: center;
        }
    } 
}

// Phone
// --------------------------------------------------
@include media-breakpoint-sp {
    .l-table {
        &.--spmax {
            .l-table__col , .l-table__th , .l-table__td {
                display: block;
                width: 100%;
            }
        }
    }
}