<%- include('../_config', { extend: {
	relativePath: '..',
	page: {
		category: 'news',
		id: 'editor',
		title: 'お知らせ詳細',
		titlehtml: '',
		description: 'お知らせのディスクリプションです。',
	}
}}); %><%- include('../_header'); %>
					<section class="p-editor">
						<div class="l-inner">
							<h3 class="c-heading1">タイトルがはいります。</h3>
							<div class="c-news">
								<div class="c-news__day">2022.00.00</div>
								<div class="c-news__cat --type1">カテゴリー</div>
							</div>
							<div class="p-editor__content">
								<p>editorテスト用の投稿です。</p> 
								<p>&nbsp;</p>
								<h1>見出し1</h1>
								<p>&nbsp;</p>
								<h2>見出し2</h2>
								<p>&nbsp;</p>
								<h3>見出し3</h3>
								<p>&nbsp;</p>
								<h4>見出し4</h4>
								<p>&nbsp;</p>
								<h5>見出し5</h5>
								<p>&nbsp;</p>
								<h6>見出し6</h6>
								<p>&nbsp;</p>
								<p><strong>太字のテキスト</strong></p>
								<p><em>イタリックテキスト</em></p>
								<blockquote>
								<p>引用テキストです</p>
								</blockquote>
								<p><span style="color: #339966;">カラーの変更</span></p>
								<p><span style="background-color: #ffff00;">背景色の変更</span></p>
								<p><span style="text-decoration: underline;">アンダーラインの追加</span></p>
								<p>上付き文字<sup>テスト</sup></p>
								<p>下付き文字<sub>テスト</sub></p>
								<p>&nbsp;</p>
								<ul>
								<li>リストのテスト</li>
								<li>リストのテスト</li>
								<li>リストのテスト</li>
								</ul>
								<p>&nbsp;</p>
								<ol>
								<li>リストのテスト</li>
								<li>リストのテスト</li>
								<li>リストのテスト</li>
								</ol>
								</ol>
								<p>&nbsp;</p>
								<p><img src="../cms/wp-content/uploads/images/news/test_big.jpg"></p>
								<p>&nbsp;</p>
								<p><img src="../cms/wp-content/uploads/images/news/test_small.jpg"></p>
								<p>&nbsp;</p>
								<p><a href="http://http">リンクテスト</a></p>
								<p><a href="http://http" target="_blank">リンクテスト</a></p>
								<p>&nbsp;</p>
								<p style="text-align: left;">インデントのテストインデントのテスト</p>
								<p>&nbsp;</p>
								<p style="text-align: center;">インデントのテストインデントのテスト</p>
								<p>&nbsp;</p>
								<p style="text-align: right;">インデントのテストインデントのテスト</p>
								<p>&nbsp;</p>
								<p>&nbsp;</p>
								<p>&nbsp;</p>
								<table style="border-collapse: collapse; width: 100%;">
								<tbody>
								<tr>
								<td style="width: 33.3333%;">見出し</td>
								<td style="width: 33.3333%;">テキスト</td>
								<td style="width: 33.3333%;">テキスト</td>
								</tr>
								<tr>
								<td style="width: 33.3333%;">テキスト</td>
								<td style="width: 33.3333%;">テキスト</td>
								<td style="width: 33.3333%;">テキスト</td>
								</tr>
								</tbody>
								</table>

									<p><br /><br /><br /><br /><br /><br />・左寄せ（幅50％）</p>
								<table style="width: 50%; border-collapse: collapse;" class="alignleft">
									<tbody>
									<tr>
										<td style="width: 33.3333%;">テキスト</td>
										<td style="width: 33.3333%;">テキスト</td>
										<td style="width: 33.3333%;">テキスト</td>
									</tr>
									<tr>
										<td style="width: 33.3333%;">テキスト</td>
										<td style="width: 33.3333%;">テキスト</td>
										<td style="width: 33.3333%;">テキスト</td>
									</tr>
									</tbody>
								</table>
									<p><br /><br /><br /><br /><br /><br />・中央（幅50％）</p>
								<table style="width: 50%; border-collapse: collapse;" class="aligncenter">
									<tbody>
									<tr>
										<td style="width: 33.3333%;">テキスト</td>
										<td style="width: 33.3333%;">テキスト</td>
										<td style="width: 33.3333%;">テキスト</td>
									</tr>
									<tr>
										<td style="width: 33.3333%;">テキスト</td>
										<td style="width: 33.3333%;">テキスト</td>
										<td style="width: 33.3333%;">テキスト</td>
									</tr>
									</tbody>
								</table>
									<p><br /><br /><br /><br /><br /><br />・右寄せ（幅50％）</p>
								<table style="width: 50%; border-collapse: collapse;" class="alignright">
									<tbody>
									<tr>
										<td style="width: 33.3333%;">テキスト</td>
										<td style="width: 33.3333%;">テキスト</td>
										<td style="width: 33.3333%;">テキスト</td>
									</tr>
									<tr>
										<td style="width: 33.3333%;">テキスト</td>
										<td style="width: 33.3333%;">テキスト</td>
										<td style="width: 33.3333%;">テキスト</td>
									</tr>
									</tbody>
								</table>
								<div class="c-button__more --center"><a href="<%= getRelativePath('/news'); %>" class="c-button">一覧へ</a></div>
							</div>
						</div>
					</section>
<%- include('../_footer'); %>
