/* pagetop */ 

.c-pagetop {
    position: fixed;
    right: 20px;
    bottom: 30px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(200px);
    transition: all ease-out 0.8s;
    a {
        display: block;
        writing-mode: tb;
        font-size: (12px / $font-size) * 1rem;
        color: #0c7cad;
        letter-spacing: 0.5em;
        transition: all 0.3s;
        &:before {
            content: "";
            width: 15px;
            display: inline-block;
            height: 15px;
            background: url(images/arrowRLB_icon.png) no-repeat center / contain;
            transform: rotate(-90deg);
            margin-bottom: 18px;
            transition: all 0.3s;
        }
    }
    &.is-active {
        opacity: 1;
        pointer-events:auto;
        transform: translateY(0px);
    }
}

// Desktop
// --------------------------------------------------
@include media-breakpoint-pc {
    .c-pagetop {
        &:hover {
            a {
                opacity: 0.7;
                &:before {
                    transform: rotate(-90deg) translateX(6px);
                }
            }
        }
    }
}

//Phone
// --------------------------------------------------
@include media-breakpoint-sp {
    .c-pagetop {
        display: none;
    }
}