// Colors
// -------------------------
$font-color:              #000 !default;


// Border Colors
// -------------------------
$border-color:            #333 !default;


// slick-dots
// -------------------------
$slick-dots-color:              #fff !default;
$slick-dots-border:             #000 !default;
$slick-dots-color--active:      #000 !default;
$slick-dots-border--active:     #000 !default;


// header
// -------------------------
$header-bg:               #fff !default;
$header-sub-bg:           #e7e7e7 !default;
$menu-button-color:       #000 !default;

$sp-nav-bg:               #e7e7e7 !default;
$sp-nav-border:           #000 !default;


// NEWS
// -------------------------
$news-item-border:        #e0e0e0;


// pagination
// -------------------------
$pagination-color:        #000 !default;
$pagination-border:       #000 !default;
$pagination-bg:           #fff !default;
$pagination-color--hover: #fff !default;
$pagination-bg--hover:    #000 !default;

// Content Width
// -------------------------

$content-width--narrow:         960px !default;
$content-width:                 1100px !default;
$content-width--wide:           1200px !default;


// Inner Padding
// -------------------------
$pd-x-pc:                       20px !default;
$pd-x-tab:                       20px !default;
$pd-x-sp:                       15px !default;


