.c-text1 {
    font-size: ( 16px / $font-size) * 1rem;
    font-weight: 500;
    color: #333;
    &.--center {
        text-align: center;
    }
    &.--bold {
        font-weight: 700;
    }
    &.--white{
        color: #fff;
    }
    &.--fs1{
        font-size: ( 14px / $font-size) * 1rem;
    }
    &.--fs2{
        font-size: ( 18px / $font-size) * 1rem;
    }
}

.c-text2{
    font-size: ( 16px / $font-size) * 1rem;
    color: #c82310;
    font-family: $font-family-mincho;
    &.--fs2{
        font-size: ( 18px / $font-size) * 1rem;
    }
    &.--bold {
        font-weight: 700;
    }
}

.c-number{
    font-family: $font-family-mincho;
    font-size: ( 14px / $font-size) * 1rem;
    font-weight: bold;
    color: $blue;
    text-align: center;
    &__circle{
        display: block;
        margin: 0 auto;
        color: #fff;
        background: $blue;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-size: ( 16px / $font-size) * 1rem;
    }
}



// Tablet + Phone
// --------------------------------------------------
@include media-breakpoint-tab-sp {
    .c-number{
        font-size: ( 20px / $font-size) * 1rem;
        &__circle{
            width: 44px;
            height: 44px;
            font-size: ( 22px / $font-size) * 1rem;
        }
    }
}